[Unit]
Description=Monitor PEPSal connections limits and manage nftables rules on its behalf

[Service]
Type=oneshot
ExecStart=/bin/bash connmonitor.sh "meta l4proto tcp ct count"

[Install]
WantedBy=multi-user.target
