Source: pepsal
Section: misc
Priority: optional
Maintainer: PEPSal Maintainers <admin@pepsal.org>
Build-Depends: debhelper (>= 9.20160709), autotools-dev, automake, libtool, pkg-config
Standards-Version: 3.9.4

Package: pepsal
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14), rsyslog, logrotate
Description: PEPSal Performance Enhancing Proxy
  PEPSal is an open-source TCP Performance Enhancing Proxy (PEP)
  for satellite links. 
